:root {

    --shadow: #bce4ff75;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
@font-face {
    font-family: 'HankenGrotesk';
    src: url(../assets/fonts/static/HankenGrotesk-Medium.ttf) format('tff');
    src: url(../assets/fonts/static/HankenGrotesk-Bold.ttf) format('tff');
    src: url(../assets/fonts/static/HankenGrotesk-ExtraBold.ttf) format('tff');
}

html {
    font-family:'HankenGrotesk', Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}   

.whole__container {
    display: flex;
    flex-direction: column;
    max-width: 415px;
    margin: auto;
}

.header {
    display: flex;
    width: 100%;
    max-width: 405px;
    min-height: 280px;
    margin: auto; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 30px 30px;
    background: linear-gradient(0deg, #4500f6, #757aff);
    color: aliceblue;
}

.header div {
    margin: 15px 0;
}

.header__container-title h2 {
    color: #ffffffe8;
    font-size: 20px;
}

.header__porcent{
    font-size: 40px;
}

.header__porcent-small {
    color: #bce4ff75;
    text-align: center;
}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

}

.header__container-result {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background: linear-gradient(180deg, #4b00caf0, #5a22ff);
    border-radius: 50%;
}

.header__container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header__subtitle {
    font-size: 20px;
    margin-bottom: 15px;
}

.header__info-result {
    font-size: 12px;
    color: #e6e6e6c7;
    font-weight: 700; 
}

.main__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #f6fbff;
    height: auto;
    margin-top: 20px;
    padding: 15px;
    border-radius: 25px;
}

.main__container-asset {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main__title {
    margin-bottom: 15px;
    color: rgb(61, 61, 61);
    margin-left: 45px;
}

.main__asset {
    display: flex;
    align-items: flex-end;
    width: 100%;
    max-width: 300px;
    height: 50px;
    background-color: rgb(190, 209, 245);
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
}

.main__porcent {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    color: rgb(46, 43, 43);
}

.main__stat {
    margin-left: 10px;
}

.stat__red {
    color: #c01d1d;
}

.stat__yellow {
    color: rgba(114, 114, 16, 0.93);
}

.stat__green {
    color: rgb(22, 136, 22);
}

.stat__blue {
    color: rgb(23, 23, 156);
}

.main__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.gray-porcent {
    color: rgb(102, 102, 102);
}

.reaction {
    background-image: url("../assets/icons/icon-reaction.svg");
}

.memory {
    background-image: url("../assets/icons/icon-memory.svg");
}

.verbal {
    background-image: url("../assets/icons/icon-verbal.svg");
}

.visual {
    background-image: url("../assets/icons/icon-visual.svg");
}

.asset__red {
    background-color: rgb(255 120 120 / 30%);
}

.asset__yellow {
    background-color: rgba(255, 255, 163, 0.892);
}

.asset__green {
    background-color: rgba(196, 255, 196, 0.926);
}

.asset__blue {
    background-color: rgb(196, 207, 255);
}

.main__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 50px;
    background: #241e45;
    border-radius: 25px;
    transition: background-color 0.5s;
}

.main__button:hover {
    background-color: #453a84;
}

.button__name {
    color: rgb(238, 238, 238);

}

@media only screen and (min-width: 600px) {

    .whole__container {
        display: flex;
        flex-direction: row;
        min-width: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: -1px 0px 15px #01209c4d;
        border-radius: 25px;
    }
    
    .header {
        margin: 0;
        border-radius: 20px ;
        width: 50%;
    }

    .main__container {
        width: 50%;
        
    }

    .main__title{
        margin: 10px;
    }
    
  }